In [1]:
import numpy as np
import pandas as pd
import os

In [3]:
os.getcwd()

'C:\\Users\\Pasindu Siriwardana\\JupyterNoteBookFiles\\Projects\\Demographic-Data-Analyzer'

In [4]:
file_path = 'adult.data.csv'

In [5]:
df = pd.read_csv(file_path)

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
b = df.race.unique().tolist()

b

['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']

In [ ]:
a = df.groupby

In [79]:
df[df.race == 'Other'].race.count()

271

In [56]:
df.count(axis=0)

age               32561
workclass         32561
fnlwgt            32561
education         32561
education-num     32561
marital-status    32561
occupation        32561
relationship      32561
race              32561
sex               32561
capital-gain      32561
capital-loss      32561
hours-per-week    32561
native-country    32561
salary            32561
dtype: int64

In [62]:
b

['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']

In [77]:
race_count = []

for race_ in b:
    count_ = df[df.race == race_].race.count()
    race_count.append(count_)
print(race_count)

[27816, 3124, 1039, 311, 271]

In [80]:
# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
race_count1 = pd.Series(
    data = race_count,
    index = b
)
race_count1

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [81]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [82]:
df[df.sex == 'Male'].age.mean()

39.43354749885268

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
df.education.count()

32561

In [8]:
df[df.education == 'Bachelors'].education.count()

5355

In [9]:
aa = df[(df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')].education.count()

In [10]:
aa

7491

In [14]:
advnced_education_list = ['Bachelors', 'Masters', 'Doctorate']
count_with_advanced_ed = df[(df.education.tolist() in advnced_education_list) & df.salary == '>50K'].education.count()
count_with_advanced_ed

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

In [15]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
df['hours-per-week'].min()

1

In [33]:
num_min_workers = df[(df['hours-per-week'] == 40) & df.salary == '>50K']
num_min_workers['hours-per-week'].count()

0

In [30]:
num_min_workers

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [36]:
race_count_list = []
race_list = df.race.unique().tolist()
for race_ in race_list:
    count_ = df[df.race == race_].race.count()
    race_count_list.append(count_)

race_count = pd.Series(data=race_count_list, index=race_list)
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [ ]:
# What country has the highest percentage of people that earn >50K?

more_than_50k = df[df.salary == '>50K']
more_than_50k

In [37]:
df2 = df.groupby(race_count)

In [38]:
df2

In [44]:
df.value_counts()

age  workclass         fnlwgt  education     education-num  marital-status      occupation         relationship   race   sex     capital-gain  capital-loss  hours-per-week  native-country  salary
25   Private           195994  1st-4th       2              Never-married       Priv-house-serv    Not-in-family  White  Female  0             0             40              Guatemala       <=50K     3
23   Private           240137  5th-6th       3              Never-married       Handlers-cleaners  Not-in-family  White  Male    0             0             55              Mexico          <=50K     2
38   Private           207202  HS-grad       9              Married-civ-spouse  Machine-op-inspct  Husband        White  Male    0             0             48              United-States   >50K      2
30   Private           144593  HS-grad       9              Never-married       Other-service      Not-in-family  Black  Male    0             0             40              ?               <=50K     2
49   Self-emp-not-inc  43479   Some-college  10             Married-civ-spouse  Craft-repair       Husband        White  Male    0             0             40              United-States   <=50K     2
                                                                                                                                                                                                      ..
31   Private           128567  HS-grad       9              Married-civ-spouse  Craft-repair       Husband        White  Male    0             0             40              United-States   <=50K     1
                       128493  HS-grad       9              Divorced            Other-service      Not-in-family  White  Female  0             0             25              United-States   <=50K     1
                       128220  7th-8th       4              Widowed             Adm-clerical       Not-in-family  White  Female  0             0             35              United-States   <=50K     1
                       127610  Bachelors     13             Married-civ-spouse  Prof-specialty     Wife           White  Female  0             0             40              United-States   >50K      1
90   Self-emp-not-inc  282095  Some-college  10             Married-civ-spouse  Farming-fishing    Husband        White  Male    0             0             40              United-States   <=50K     1
Length: 32537, dtype: int64

In [48]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [61]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [ ]:
df['race'].value_counts

In [51]:
df['education'].count()

32561

In [94]:
ad = np.array(['Bachelors', 'Masters'])
# print(ad)
df3 = df[df.education.isin(ad)]
df3[df3.salary == '>50K'].education.count() / df3['education'].count()

0.44927945747386266

In [95]:
df['hours-per-week'].min()

1

In [98]:
num_min_workers = df[df['hours-per-week'] == 1]['hours-per-week'].count()
num_min_workers

20

In [16]:
# Identify the most popular occupation for those who earn >50K in India.

occupation_ = df[(df.salary == '>50K') & (df['native-country'] == 'India')].occupation.value_counts()
# .value_counts()
# occupation_.max()

In [27]:
occupation_

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [31]:
occupation_[occupation_ == occupation_.max()].index[0]

'Prof-specialty'

In [87]:
# What country has the highest percentage of people that earn >50K?
x = df[df.salary == '>50K']['native-country'].value_counts()
y = df['native-country'].value_counts()
# print(x,"\n --------------- \n",y)
# x[x == x.max()].index[0]

z = (x/y)*100
z.max()

41.86046511627907

In [39]:
x.sum()

7841

In [60]:
(x['Iran'] / x.sum()) * 100

0.22956255579645451

In [76]:
(x['United-States'] / x.sum()) * 100

91.45517153424308

In [ ]:
# What country has the highest percentage of people that earn >50K and what is that percentage?

In [41]:
x

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [47]:
higher_education_arr = np.array(['Bachelors', 'Masters','Doctorate'])
higher_education = df[df['education'].isin(higher_education_arr)]
# higher_education
higher_education[higher_education.salary == '>50K'].salary.count()

3486

In [58]:
df['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [75]:
(higher_education[higher_education.salary == '>50K'].salary.count() / higher_education['salary'].count()) * 100

46.535843011613935

In [70]:
k1 = df[
         ((df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')) &
         (df.salary == '>50K')
       ].salary.count()
k1

3486

In [71]:
k2 = df[
         ((df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate'))
       ].salary.count()
k2

7491

In [72]:
(k1 / k2) * 100

46.535843011613935